<main id="milkshake-index">
    <div class="banner-img"></div>
    <h1>All Milkshakes</h1>
    <form action="<%= milkshakes_path %>" method="GET">
        <input type="search" name="search" />
    </form>

    <%= link_to("Create Milkshake", new_milkshake_path) %>
    <section>
        <% @milkshakes.each do |milkshake| %>
            <%= link_to(milkshake) do %>
            
                <div>
                    <%= image_tag milkshake.pic if milkshake.pic.attached? %>
                    <h2><%= milkshake.name %></h2>
                    <p><%= number_to_currency(milkshake.price / 100.0) %></p>
                </div>
            <% end %>
        <% end %>
    </section>
</main>